@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background: #101329;
    display: block;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}

header .logo
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2em;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
    transition: all .3s ease-in-out;
}

header ul li a
{
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    transition: all .3s ease-in-out;
}

header ul li a:hover, header ul li:hover
{
    color: rgb(211, 209, 209);
    transform: scale(0.95);
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #101329, transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

h3
{
    z-index: 1000000;
    margin: auto;
    width: 100vw;
    font-size: 50px;
    color: whitesmoke;
}